{% extends "app/base.html" %}
{% block title %}Добавить фильм{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card" style="padding: 20px;">
            <h4 class="center-align blue-text text-darken-3">Добавить новый фильм</h4>
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="input-field">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                </div>
                
                <div class="input-field">
                    {{ form.description.label_tag }}
                    {{ form.description }}
                </div>
                
                <div class="input-field">
                    {{ form.release_date.label_tag }}
                    <br><br>
                    {{ form.release_date }}
                </div>
                
                <div class="input-field">
                    {{ form.country.label_tag }}
                    {{ form.country }}
                </div>
                
                <div class="file-field input-field" style="margin-top: 30px;">
                    <div class="btn blue">
                        <span>Загрузить постер</span>
                        {{ form.poster }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Выберите картинку">
                    </div>
                </div>

                <div class="center-align" style="margin-top: 30px;">
                    <button type="submit" class="btn large green style="width: 100%;">Сохранить фильм</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}